---
layout: header
titles: 咸鱼翻身
mintitle: 从此不再做咸鱼
mintitles: Hello
---
<div id="about">
<div class="container-fluid">
	<div class="row">
    	<div class="col-lg-8 col-md-10 mx-auto">
      
      <!-- 文章列表开始 -->
      		{% for post in site.posts %}
        	<div class="post-preview">
          		<a href="{{site.baseurl}}{{post.url}}">
            	<h2 class="post-title">{{post.title}}</h2>
            	<h3 class="post-subtitle">{{post.excerpt|strip_html|truncate:100}}</h3>
          		</a>
          		<p class="post-meta">Posted by <a href="#">{{post.author|default:site.author}}</a> on {{post.date|date_to_long_string}}</p>
        	</div>
        		<hr>
      			{% endfor %}
		<div class="btn_page">
	{% if paginator.previous_page %}
        <a href="{{site.baseurl}}{{paginator.previous_page_path}}" class="btn btn-primary">上一页</a>
	{% endif %}
	{% if paginator.next_page %}
        <a href="{{site.baseurl}}{{paginator.next_page_path}}" class="btn btn-primary next">下一页</a>
	{% endif %}
    </div>
</div>
</div>
